<jacreditos-header></jacreditos-header>
<div style="background-image:url(images/crossword.png)">   
  <div class="container">
    <div class="row" style="padding-top: 10px;">
        <div class="col-lg-12">
            <div class="row text-center">
                  <div class="col-lg-12">
                      <carousel interval="3000" images="slides"></carousel>
                  </div>         
            </div>
        </div>
      </div>  
  </div>
</div>
<div class="login-page" ng-controller="aboutCtrl" style="padding-top:75px;background-image: url(images/crossword.png);">
<div class="container">
  <div class="col-lg-12 text-center">
    <img src="images/now-logo.png" style="width: 15%;">
  </div>
  <div class="col-lg-12">
    <div class="aboutus-wrapper">
      <p class="text-justify">JA. CREDITOS S.A.S es una empresa de crèdito, solida y confiable que basa su vision, mision y valores en prestar servicios a personas naturales y juridicas para beneficiarlos con rentabilidad economica y social. </p>
     
      <p class="text-justify">Soporta su operación en talento humano competente, comprometido con el mejoramiento continuo de los procesos, basado en valores empresariales y con la más adecuada tecnología.</p>
      
      <p class="text-justify">JA. CREDITOS S.A.S es una empresa crédito comprometida con la transformación social, económica de clientes y sus familias, y de las personas jurídicas, para apoyar en las soluciones las necesidades de su ciclo de vida, nuestra visión, misión y valores se apoyan en la formaciòn de su patrimonio, en su bienestar y en su seguridad futura.</p>

      <!--<p class="text-justify">Nuestra compañía busca ser tu apoyo en los  momentos que mas nos necesites, queremos que te  sientas tranquilo y satisfecho a la hora de adquirir nuestros servicios.</p> 

      <p class="text-justify">Solicita tu cupo de crédito en cualquier momento, las 24 horas del día, los 7 días de la semana. Nosotros atenderemos tu solicitud lo mas pronto posible.</p>

      <p class="text-justify">
        Te prestamos desde $100.000 hasta $500.000 pesos por un periodo de endeudamiento máximo de 30 días, nuestro servicio es muy práctico, solicitas la cantidad que deseas y tú eliges el día de pago.
      </p>
      -->
      <p><strong>J.A. CREDITOS S.A.S.</strong></p> 
      <p>NIT <strong>901632772-8</strong></p> 
      <p>Sincelejo-Sucre</p>
      <p>Camara de comercio # 129594</p>


      <br>
      <br>
    </div>
  </div>
  <br>
</div>
<div class="wrap" style="width:100%;height:100%;background: #001a1b url('images/particles_bg-white.png');display:none;">
    <div class="container" style="height:100vh;">
        <div class="col-lg-12" style="padding-top: 10%;">
          <h4 class="heading text-white text-center animated fadeIn">J.A. Creditos S.A.S  es una plataforma online que te da la oportunidad de obtener creditos de libre inversion de manera rapida, segura, sin papeleos y 100% en linea.</h4>
        </div>
    </div>    
</div>
</div>
<jacreditos-footer></jacreditos-footer>


