<div class="login-page" ng-controller="HomeCtrl">
<jacreditos-header></jacreditos-header>
<div class="wrap" style="width:100%;height:100vh;">

    <div class="container" style="height:auto;">
      <div class="accordion" style="margin-top: 130px;margin-bottom: 20px;position: relative;">
            <h3 class="text-primary">Preguntas<h3>
            <h3 style="font-size:18px!important;" class="accordion-toggle text-muted">¿En cuanto tiempo me desembolsan el dinero?</h3>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
                Un maximo de de 24 horas.
              </p>
            </div>
            
            <h3 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Cuantos creditos puedo hacer?</h3>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              los que desee solicitar siempre y cuando este a paz y salvo con creditos anteriores. 
              </p>
            </div>
            
             <h3 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Siempre tendre acceso al mismo monto?</h3>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              Su cupo aumenta segun su historial de pago.
              </p>
            </div>

           <h3 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Si cancelo antes de tiempo tendre una reduccion de intereses?</h3>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              los intereses son calculados por dias transcurridos hasta el pago de la deuda.
              </p>
            </div>
            <br>
             <!--<h3 class="text-primary">Pagos<h3>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Como puedo realizar el pago del préstamo?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
             Puedes realizar el pago a través de una transferencia en línea o una consignación bancaria nacional, luego de realizar la transferencia en línea o consignación deberás enviar una foto del comprobante de pago o un Screenshot de la misma.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Tiene algún costo adicional realizar una transferencia en línea ?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              Las transferencias en línea no tienen ningún costo y no aumentaran el valor total a pagar, es el medio mas usado y el que recomendamos debido a que no tendrás que pagar costos adicionales.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Tiene algún costo adicional realizar una consignación bancaria nacional?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              Si, al valor a pagar le tienes que adicionar 12 mil pesos, ya que este es el valor que el banco cobra por realizar consignaciones nacionales.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Que día y a que horas puedo pagar el préstamo?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              Puedes pagar cualquier día a cualquier hora, No olvides subir el comprobante de pago a la pagina web.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Qué pasa si no puedo pagar mi préstamo a tiempo? </h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
             Es importante que hagas un uso adecuado de tus préstamos, el atraso en el pago genera intereses de mora y reporte en las centrales de riesgo, esperamos que esto no ocurra, de igual forma si tienes atraso debes comunicarte con nosotros para informarnos de tu situación y llegar a un acuerdo para solucionar la deuda. En el caso de que no nos informes, nosotros de inmediato nos comunicaremos contigo.
              </p>
            </div>

            <br>-->
            <h3 class="text-primary">Central de riesgo<h3>
            <!--<h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Debo pagar anticipadamente por el estudio en las centrales de riesgo?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              No, JA Creditos S.A.S no pide dinero por estudios de préstamo anticipado, este es cobrado a la hora de realizar el pago del préstamo.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Si olvido la fecha del pago me reportaran al día siguiente?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
             Es tu deber como usuario recordar la fecha del pago, en caso tal de olvidar tu obligación, nosotros nos trataremos de comunicar contigo por vía telefónica, sino te enviaremos un correo de notificación. De no realizarse el pago del crédito se te reportará en las centrales de riesgo en 20 días hábiles.

              </p>-->
          </div>
      </div>

    </div>    
    <jacreditos-footer></jacreditos-footer>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      $('.accordion').find('.accordion-toggle').click(function() {
        $(this).next().slideToggle('600');
        $(".accordion-content").not($(this).next()).slideUp('600');
      });

      $('.accordion-toggle').on('click', function() {
        $(this).toggleClass('active').siblings().removeClass('active');
      });
    });
</script>

  

